{% extends 'promotion_taiwan/base.html' %}

{% block content %}

<!-- メニュー -->
<nav class="navbar navbar-light bg-white navbar-expand-md mt-5">
  <ul class="navbar-nav nav-fill w-100 align-items-star">
    <li class="nav-item">
      <a class="nav-link col-sm" href="#!"><h4>Drink</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link col-sm" href="#!"><h4>Food</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link col-sm" href="#!"><h4>Spot</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link col-sm" href="#!"><h4>Culture</h4></a>
    </li>
  </ul>
</nav>

<!-- タイトル -->
<h1 class="pt-5 text-center">圧倒的素敵国家</h1>
<h1 class="pt-3 text-center">台湾の魅力</h1>
<!-- <h1 class="pt-5 m-auto" style="width: 200px;">台湾の魅力</h1> -->

<!-- ドリンク -->



{% endblock %}
